@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2928px;
  color: #303030;
}
/*Header*/
header {
  width: 1440px;
  height: 117px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header nav a {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #303030;
  font-weight: 700;
  margin: 32px;
  padding: 10px;
  display: inline-block;
  position: relative;
  /* Para permitir posicionamiento del pseudo-elemento */
}

/* Estilo para el subrayado al pasar el cursor */
nav a:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -12px;
  /* Ajusta la distancia del subrayado respecto al texto */
  width: 100%;
  height: 2px;
  /* Grosor del subrayado */
  background-color: #303030;
  /* Color del subrayado */
}

header a {
  text-decoration: none;
}

#download {
  border-radius: 46.957px;
  border: 1.5px solid #f50;
  border: 1.5px solid color(display-p3 1 0.3922 0.0235);
  background: #fff;
  background: color(display-p3 1 1 1);
  color: #f50;
  color: color(display-p3 1 0.3922 0.0235);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 7.826px;
  transition: all 1s;
}

#download:hover{
  background-color: #f50;
  color: #fff;
  
}
/*#download p {
  color: #f50;
  color: color(display-p3 1 0.3922 0.0235);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 7.826px;
}*/
/*Main*/
main {
  padding: 198px 0px 0px 0px;
  width: 1300px;
  height: 629px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#izquierda {
  display: flex;
  width: 1300px;
  justify-content: space-between;
  align-items: center;
}

#contenido {
  width: 626px;
  height: 504px;
  display: flex;
  flex-direction: column;
}

#texto h2 {
  height: 246px;
  align-self: stretch;
  font-size: 72px;
  font-family: "Space Grotesk";
  font-weight: 700;
  line-height: 82px;
  word-wrap: break-word;
}

#texto p {
    color: #303030;
  width: 446px;
  padding-top: 24px;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#barrausers {
  padding-top: 38px;
  display: flex;
  align-items: center;
  gap: 15px;
}

#barrausers p {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#findsupport {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  gap: 20px; /* Espacio entre el div y el a (ajusta según sea necesario) */
  padding: 48px;
  margin-left: -50px;
}
#findsupport div {
  display: flex;
  width: 285px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 46.957px;
  background: #ffaf00;
  background: color(display-p3 0.955 0.7 0.105);
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.5s;
}
#findsupport div:hover{
  color: #ffaf00;
  background-color: #fff;
}

#findsupport a {
  text-decoration: none; /* Esto elimina la línea de decoración para todos los enlaces dentro de #findsupport */
  color: #303030;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#findsupport a[href="findsupport.html"] {
  text-decoration: none; /* este es para sacar el subrayado del findsupport  */
}
#findsupport a[href="learnmore.html"] {
  text-decoration: underline; /*y este es para que el learn more si lo tenga*/
}

/*#findsupport div{
   display: flex;
width: 285px;
padding: 12px 20px;
justify-content: space-between;
align-items: center;
   border-radius: 46.957px;
background: #FFAF00;
background: color(display-p3 0.955 0.7 0.105);
color: #FFF;
color: color(display-p3 1 1 1);
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#findsupport {
   padding-top: 48px;
   width: 478px;
   height: 52px;
   display: flex;
   align-items: center;
   gap: 42px;
}
#findsupport a {
   text-decoration: none;
   color: #303030;
   font-family: 'Raleway';
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-decoration-line: underline;
}*/

aside {
  margin: auto;
  display: flex;
  width: 1350px;
  justify-content: ;
  padding-top: 250px;
  gap: 40px;
}
