@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Inter:wght@100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2928px;
  color: #303030;
}
/*Header*/
header {
  width: 1440px;
  height: 117px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header nav a {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #303030;
  font-weight: 700;
  margin: 32px;
  padding: 10px;
  display: inline-block;
  position: relative;
  /* Para permitir posicionamiento del pseudo-elemento */
}

/* Estilo para el subrayado al pasar el cursor */
nav a:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -12px;
  /* Ajusta la distancia del subrayado respecto al texto */
  width: 100%;
  height: 2px;
  /* Grosor del subrayado */
  background-color: #303030;
  /* Color del subrayado */
}

header a {
  text-decoration: none;
}
#download {
  border-radius: 46.957px;
  border: 1.5px solid #f50;
  border: 1.5px solid color(display-p3 1 0.3922 0.0235);
  background: #fff;
  background: color(display-p3 1 1 1);
  color: #f50;
  color: color(display-p3 1 0.3922 0.0235);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 7.826px;
  transition: all 0.5s;

}
#download:hover{
  color: #fff;
  background-color: #f50;
}


/*Main*/
main {
  max-width: 1440px;
  padding: 198px 0px 0px 0px;
  width: 1300px;
  height: 629px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#izquierda {
  display: flex;
  width: 1300px;
  justify-content: space-between;
  align-items: center;
}

#contenido {
  width: 626px;
  height: 504px;
  display: flex;
  flex-direction: column;
}

#texto h2 {
  height: 246px;
  align-self: stretch;
  font-size: 72px;
  font-family: "Space Grotesk";
  font-weight: 700;
  line-height: 82px;
  word-wrap: break-word;
}

#texto p {
    color: #303030;
  width: 446px;
  padding-top: 24px;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#barrausers {
  padding-top: 38px;
  display: flex;
  align-items: center;
  gap: 15px;
}

#barrausers p {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#findsupport {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  gap: 20px; /* Espacio entre el div y el a (ajusta según sea necesario) */
  padding: 48px;
  margin-left: -50px;
}
#findsupport div {
  display: flex;
  width: 285px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 46.957px;
  background: #ffaf00;
  background: color(display-p3 0.955 0.7 0.105);
  color: #fff;
  color: color(display-p3 1 1 1);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.5s;
}

#findsupport div:hover{
  color: #fff;
  background-color: #ffcd61;
}
#findsupport a {
  text-decoration: none; /* Esto elimina la línea de decoración para todos los enlaces dentro de #findsupport */
  color: #303030;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#findsupport a[href="findsupport.html"] {
  text-decoration: none; /* este es para sacar el subrayado del findsupport  */
}
#findsupport a[href="learnmore.html"]:hover {
  text-decoration: underline; /*y este es para que el learn more si lo tenga*/
}

aside {
  max-width: 1440px;
  margin: 152px auto 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: center;

}

aside article {
  margin: 0 20px;
  padding: 53px 36px 44px 36px; /* Padding para el contenido interno */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #FFF; /* Fondo blanco para los artículos */
  border-radius: 60px;
  border: 5px solid; /* Ajusta el borde según el cubo específico */
  position: relative; /* Permite posicionar elementos hijos de manera absoluta */
  transition: all 0.5s ease-in-out;

}
aside article:hover{
  scale: 1.05;
}

aside article h2,
aside article p {
  color: #303030;
  color: color(display-p3 0.1882 0.1882 0.1882);
  font-family: Raleway;
  line-height: normal;
}

aside article h2 {
  font-size: 40px;
  font-weight: 700;
  
}

aside article p {
  margin-top: 14px;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
}

#cubo1 {
  width: 416px;
  
  background-image: url(../img/21.png);
  background-position: top right;
  background-repeat: no-repeat;
  border: 5px solid #7CA2EB;

}

#cubo1:hover{
  background-color: #C8D5F3;
  border: 5px solid #C8D5F3;
}

#cubo2 {
  width: 416px;
  
  background-image: url(../img/Vector.png);
  background-position: top right;
  background-repeat: no-repeat;
  border: 5px solid #FA839F;
}

#cubo2:hover{
  background-color: #F2B3C1;
  border: 5px solid #F2B3C1;

}

#cubo3 {
  width: 416px;
  
  background-image: url(../img/18.png);
  background-position: top right;
  background-repeat: no-repeat;
  border: 5px solid #DE85F1;
}

#cubo3:hover{
  background-color: #E2B3F2;
  border: 5px solid #E2B3F2;
}

#cubo3 h2{
  max-width: 220px;
}

#logocubo1,
#logocubo2,
#logocubo3 {
  margin-bottom: 39px;
  width: 100px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
  z-index: 1; /* Asegura que el logo esté encima del contenido */
}
